@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --body-background: whitesmoke;
    --gray: #cbcbcb;
    --green: #C1CD97;
    --light-purple: #C8B4BA;
    --yellow: #F3DDB3;
    --pink: #E18D96;
}

body {
    background-color: var(--body-background);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 15% 1fr 23%;
    grid-template-areas:
        "menu header"
        "menu content"
        "footer footer"
    ;
    gap: 1rem;
}

#menu {
    grid-area: menu;
    background-color: var(--gray);
    border-bottom-right-radius: 1rem;
}

#header {
    grid-area: header;
}

#content {
    grid-area: content;
}

#footer {
    grid-area: footer;
    background-color: var(--pink);
}